@page
@model HeyTravel.Pages.RisultatoModel
@{
    ViewData["Title"] = "Risultato";
}

<style>
    body, html {
        height: 100%;
        /* The image used */
        background-image: url("../images/HeyTravel_Foto_Risultati.jpg");
        /* Full height */
        height: 100%;
        /* Center and scale the image nicely */
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
</style>

<form method="post" class="text-center">
    <div class="text-center">
        <h6>CASI COVID</h6>
        @foreach (var item in Model.eleMeteo)
        {
            <label class="text-black" asp-for="@Model.citta"><i>Casi giornalieri: @(item.Temperature.Where(temp=>temp.Mese == Model.mese).Select(t=>t.Media)) &emsp;&emsp; &emsp;&emsp;</i></label>

            @*<label class="text-black"><i>Popolazione Stato: @((int)item) &emsp;&emsp; &emsp;&emsp;</i></label>

            <label class="text-black"><i>Casi COVID attivi: @((int)item) &emsp;&emsp; &emsp;&emsp;</i></label>

            <label class="text-black"><i>Percentuale contagi: @((int)item)%</i></label>*@
        }
    </div>
</form>